@import 'variables';

.CommonLocations{
    min-height: 40vh;
    width: 100%;
    background-image: url(../images/world.png);
    background-size: cover;
    background-position: center;
    position: relative;
    color: $white;
    padding: 30px 0;
}