$blue: #0E1D41;
$blueBg: rgba(14, 29, 65, .7);
$inputBg: #1c2b54;



$lightDeepBlue: #1E2C4E;
$white: #FFFFFF;
$lightBlue: #B0C4DE;
$deepLightBlue: rgba(176, 196, 222, .4);
$lightGrey: #B0B1B3;
$darkGrey: #838383;


$horizontal: 20px;
